<header id="header" class="header-fixed" style="background-color:transparent">
        <div class="row">
            <div class="small-12 columns">
                <div id="header__logo">
                    <a routerLink="/dashboard"><img class="portfolio" src="https://i.ibb.co/0YXnNwC/3322a186-2bb4-434d-85fa-168d04f965aa.png"></a>
                </div>
            </div>
        </div>
</header>
<body data-rsssl="1" class="archive category category-customer-story category-5 cookies-set cookies-accepted" data-gr-c-s-loaded="true" style="" data-whatinput="mouse">
        
<div id="resources-splash" class="page-section row expanded faded-bg" style="background-image:url(https://i.ibb.co/dbk7mNP/ce779540-79f7-433d-902a-71fb148b7b3c.png)">
    <div class="row">
        <div class="small-12 columns">
         <h1>Check out my public repositories on GitHub</h1><p>Feel free to provide feedback, suggestions, and help me in improving my coding skills.</p><a href="https://github.com/gillbalraj"><span class="s-btn s-btn--dark">Balraj's GitHub</span></a>       </div>
    </div>  
</div>
<div id="resources-bar" class="row expanded flickity-enabled is-draggable" tabindex="0">
    <div class="row">
        <div class="small-12 columns">
            <ul></ul>       </div>
    </div>
</div>
<!-- MarketAgency -->
<div class="row small-up-1 medium-up-3" id="resource-grid" data-lastpage="2" data-category="5">
        <div class="column resource-block">
            <div class="resource-block-inner" style="height: 437px;">
                <a href="https://github.com/gillbalraj/marketAgency">
                <div class="resource-item-thumb" style="background-image:url(https://i.ibb.co/7YFcWjC/my-MARKET-agency2.png)"></div></a>
    
                <div class="resource-block__content"><span class="resource-block__cat">HTML, SCSS, JQuery, Google Analytics</span>
                    <a href="https://github.com/gillbalraj/marketAgency" class="resource-block__title">Market Agency- MockUp for a Digital Marketing firm</a>Created a mockup for an existing wordress site &amp; gave it a new and informative look. Used Google Analytics and Mixpanel to... <a href="https://github.com/gillbalraj/myPortfolio" class="resource-block__more">Read More</a></div>     
            </div>
        </div>

<!-- MyPortfolio -->

    <div class="column resource-block">
        <div class="resource-block-inner" style="height: 437px;">
            <a href="https://github.com/gillbalraj/myPortfolio">
            <div class="resource-item-thumb" style="background-image:url(https://i.ibb.co/qNMT8QC/My-Portfolio.png)"></div></a>

            <div class="resource-block__content"><span class="resource-block__cat">Angular 7, HTML, Sass, Typescript</span>
                <a href="https://github.com/gillbalraj/myPortfolio" class="resource-block__title">My Portfolio- One place to showcase my work</a>The goal is to integrate my work at single place &amp; to update what I will be doing in the future. Feel free to join me in... <a href="https://github.com/gillbalraj/myPortfolio" class="resource-block__more">Read More</a></div>     
        </div>
    </div>
    <!-- getMeData -->
    <div class="column resource-block">
        <div class="resource-block-inner" style="height: 437px;">
            <a href="https://github.com/gillbalraj/GetMeData">
            <div class="resource-item-thumb" style="background-image:url(https://i.ibb.co/hLj2Kmk/Get-Me-Data.png)"></div></a>

            <div class="resource-block__content"><span class="resource-block__cat">Angular, Node.js, Javascript, MySQL, SQl Server</span><a href="https://github.com/gillbalraj/GetMeData" class="resource-block__title">GetMeData- A complete server-client app</a>Generating view for Sale Representatives from MySQL databse &amp; Step by step guide to learn how to create one on your own...<a href="https://github.com/gillbalraj/GetMeData" class="resource-block__more">Read More</a></div>     
        </div>
    </div>
    <!-- ChatApp -->
    <div class="column resource-block">
        <div class="resource-block-inner" style="height: 437px;">
            <a href="https://github.com/gillbalraj/chat-app">
            <div class="resource-item-thumb" style="background-image:url(https://i.ibb.co/ZRsmGXr/chatApp.png)"></div>  </a>

            <div class="resource-block__content"><span class="resource-block__cat">Node.js, jQuery, HTML, Express, Rest API</span><a href="https://github.com/gillbalraj/chat-app" class="resource-block__title">ChatApp- Learn the magic of socket.io programing to create your own social network</a>I tried to implement what I have learnt in my school  &amp; this is a perfect project to understand the logic behind any...<a href="https://github.com/gillbalraj/chat-app" class="resource-block__more">Read More</a></div>        
        </div>
    </div>
    <!-- CustomerOrderApp -->
    <div class="column resource-block">
        <div class="resource-block-inner" style="height: 437px;">
            <a href="https://github.com/gillbalraj/Customer-Order-App">
            <div class="resource-item-thumb" style="background-image:url(https://i.ibb.co/tD3mGky/customer-Order-App.png)"></div>          </a>

            <div class="resource-block__content"><span class="resource-block__cat">Angular1.3, Node.js, MVC, Express, Rest API</span><a href="https://github.com/gillbalraj/Customer-Order-App" class="resource-block__title">Customer-Order-App - Journey of e-commerce site begins here</a>I was looking to create an e-commerce site &amp; currently working on this project to add session and tracking cookies to learn how to...<a href="https://github.com/gillbalraj/Customer-Order-App" class="resource-block__more">Read More</a></div>     
        </div>
    </div>
</div>
<div class="loader" style="display: none;">Loading...</div>



<footer id="footer">
    <div class="row">
        <div class="small-12 columns">
            <div id="footer__top">
                <nav>
                    <div class="menu-footer-top-menu-container">
                        <ul id="menu-footer-top-menu" class="menu">
                            <li id="menu-item-2139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2139"><strong>What's next?</strong>
                                <ul class="sub-menu">
                                    <li id="menu-item-1903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1903">Registration page: Angular &amp; node</li>
                                    <li id="menu-item-777" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-777">Blog on AWS vs Azure</li>
                                    <li id="menu-item-778" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-778">Blog on microservices</li>
                                </ul>
                            </li>
                        </ul>
                    </div>            
                </nav>
            </div>
            <div id="footer__bottom">
                
                    <nav>
                        <div class="menu-footer-bottom-menu-container">
                            <ul id="menu-footer-bottom-menu" class="menu">
                                <li id="menu-item-4954" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4954"><strong>© www.balraj.online</strong></li>
                            </ul></div>               
                    </nav>
                <div id="footer__bottom__social">
                    <a href="mailto:jarlab.singh@gmail.com" target="_blank"><i class="far fa-envelope" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/balrajsg/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="application/javascript" src="https://samplerapp.agilecrm.com/core/js/api/web-rules?callback=json31999108787947183&amp;id=8fn03gj6o9stusddsbbdl3ju44"></script>
<div style="position:fixed;top:0;left:0;overflow:hidden;">
    <label for="focus_retriever" style="position:absolute;left:-1000px;">Focus Retriever</label>
    <input style="position:absolute;left:-1000px;" type="text" name="focus_retriever" value="" id="focus_retriever" readonly="true">
</div></body>