<div id="sampler-exchange-header" class="page-section page-section-1892896716 " style="padding: 0px 0px 0px 0px ;">
		<div class="row ">
					<div class="small-12 columns content-block block-type-editor " style="">
				<div class="content-block-inner">
					<h2 style="text-align: center;"><strong>What can I bring to your Organization</strong></h2>
<p style="max-width: 700px; text-align: center;"><strong>A team player</strong> who put organizational goals at top and work with the team to bring them to reality.&nbsp;An individual with positive thinking and great problem solving skills.&nbsp; One who is ready to face challenges and willing to grow. </p>
				</div>
			</div>
			</div>
</div>
<div id="" class="page-section page-section-625179824 " style="">
		<div class="row valign-middle ">
			<div class="medium-4 columns content-block block-type-editor " style="">
				<div class="content-block-inner">
					<h3><img class="alignnone size-full wp-image-3842 aligncenter" src="https://i.ibb.co/QDWpZGP/SEODevelopment-Marketing-151-512.png" alt="SEODevelopment-Marketing-151-512" width="100" height="100"></h3>
					<h3>Creative Thinking</h3>
					<p>Looking at problem or situation from a fresh perspective which allows one to refine ideas and select best possible answer to solve problem </p>
				</div>
			</div>
			
			<div class="medium-4 columns content-block block-type-editor " style="">
				<div class="content-block-inner">
					<h3><img class="size-full wp-image-3843 aligncenter" src="https://i.ibb.co/YWCQWF5/positive-h001-512.png" alt="positive-h001-512"  width="110" height="60"></h3>
					<h3>Hard Working</h3>
					<p>Working intelligently and vigorously at a given task to complete it with maximum efficiency</p>
					<a href="https://www.linkedin.com/in/balrajsg/"><span class="s-btn s-btn--dark" style="width:px;">Find Me On Linkedin</span></a>
				</div>
			</div>

			<div class="medium-4 columns content-block block-type-editor " style="">
				<div class="content-block-inner">
					<h3><img class="alignnone size-full wp-image-3841 aligncenter" src="https://i.ibb.co/jrJgfH7/img-542890.png" alt="img-542890" width="150" height="150"></h3>
					<h3>Team Player</h3>
					<p>Collaboration allows exchange of ideas among individuals to find solution. Working together towards a shared goal foster perspective-thinking and provide chance to expand thinking </p>
					
				</div>
			</div>
		</div>
</div>
<div id="" class="page-section page-section-1451830586 " style="padding: 30px 0px 0px 0px ;">
		<div class="row valign-middle expanded">
					<div class="small-12 columns content-block block-type-editor " style="">
				<div class="content-block-inner">
					<h2 style="text-align: center;"><strong>Kind words from people I have worked with</strong></h2>
				</div>
			</div>
			</div>
</div>
<!-- Linkdin Refrences -->
<div class="row ">
	<div class="medium-6 columns content-block block-type-editor " style="">
		<div class="content-block-inner">
		<p><img class="size-medium wp-image-1759 aligncenter" src="https://i.ibb.co/HYwFgkY/0-1.jpg" alt="0-1" width="100" height="100"></p>
		<p style="text-align: center;"><strong>Dave&nbsp;McKay</strong></p>
		<p style="text-align: center; font-family: 'Kalam'; ">"I have been working with Balraj on the ReliablyMe project for several months. I have been very impressed with his ability to learn the architecture and to be able to jump in and add functions to the system. Our architecture encompasses front end web development, Node.js server work, MySQL database and Ethereum blockchain server-signed transactions. Balraj has been able to adapt to the development challenges of each environment and become productive. He is a very responsible developer and will be an asset to any development team."</p>
		</div>
	</div>
	<div class="medium-6 columns content-block block-type-editor " style="">
		<div class="content-block-inner">
		<p><img class="size-medium wp-image-1759 aligncenter" src="https://i.ibb.co/gVBk9nY/0.jpg" alt="0" width="100" height="100"></p>
		<p style="text-align: center;"><strong>Josh Greig</strong></p>
		<p style="text-align: center; font-family: 'Kalam'">"Balraj was a pleasure to mentor for the AccessLocator project. He was eager to learn and contribute. He brought an infectiously positive attitude to the project and other team members. Balraj Singh will be a great addition to any team."</p>
		</div>
	</div>
	
</div>

<h1>My Skills</h1>
<ul class="skills">
	<li *ngFor="let skill of skills">
		<span class="badge">{{skill.id}}</span> {{skill.name}}
		<!-- <input [(ngModel)]="skill.name" placeholder="name"> -->
	</li> 
</ul>
