h1 {
  left: 20px;
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 1em;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, arial, sans-serif;
  font-weight: normal;
  font-height: 1.5;
   
}
body, input[type="text"], button {
  color: #000;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  padding: 6px 0px 0px 0px;
  width: 100px;
}
#header.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.row {
  max-width: 170rem;
  margin-left: auto;
  margin-right: auto;
}
.small-12 {
  width: 100%
}
.columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  float: left;
}
.content-block {
  position: relative;
}
#header__logo {
  width: 165px!important;
  margin-top: 5px!important;
}
img.portfolio {
  max-width: 100px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {

  font-family: "Helvetica Neue", "Helvetica", "Roboto";
  font-weight: normal;
  font-style: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
    
  }
h1, h2 {
    margin-bottom: 2rem;
  }
h2 {
    font-size: 2.3rem;
    line-height: 1.2;
  }


h1, h2, h3, h4, h5, h6, p, li, a, span {
    font-family: "proxima-nova", "sans-serif";
  }
p {
  line-height: 1.25;
  font-size: 1rem;
  margin-bottom: 1rem!important;
  margin: auto;
  font-family: "proxima-nova", "sans-serif";
}
.s-btn{
  margin-bottom: 10px!important;
  border-radius: 4px;
  font-weight: 600;
  padding: 10px 30px;
  display: inline-block;
  color: #ffffff;
  letter-spacing: 1.5px;

}
.s-btn--dark{
  border-bottom: none;
  background-color: #4dc0b9;
  border: 2px solid #4dc0b9!important;
}
.s-btn{
  margin-bottom: 10px!important;
}